{{- $section1featuresPage := .Site.GetPage "/section1features" }}
{{- $section1Params := $section1featuresPage.Params }}
{{- $title    := index $section1Params "title" }}
{{- $subtitle := index $section1Params "subtitle" }}
{{- $features := index $section1Params "features" }}

<section class="section is-medium" id="sectionFeatures">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ $title }}</h1>
        <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        <div class="divider"></div>
      </div>
      <div class="column is-7 mt-60">
        {{- range $features }}
        <article class="media icon-box">
          <figure class="media-left">
            <p class="image">
              <img src="{{ .icon }}">
            </p>
          </figure>
          <div class="media-content mt-50">
            <div class="content">
              <p>
                <span class="icon-box-title">{{ .title }}</span>

                <span class="icon-box-text">{{ .text }}</span>
              </p>
            </div>
          </div>
        </article>
        {{- end }}
      </div>
    </div>
  </div>
</section>