<section class="section section-light-grey is-medium" id="section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Ready set let’s go!</h2>
      <h3 class="subtitle is-5 is-muted">Ready to let us build your site? Awesome!</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="columns">
      <div class="column is-8 is-offset-2">
          <div class="timeline">
              <div class="my-container my-left">
                <div class="my-content">
                  <p>First give us a call.</p>
                  <p>Our office line is: 609-555-5555</p>
                </div>
              </div>
              <div class="my-container my-right">
                <div class="my-content">
                  <p>You’ll share with us what you’re looking for, we’ll come up with something you like and shoot you a proposal. </p>
                </div>
              </div>
              <div class="my-container my-left">
                  <div class="my-content">
                    <p>Once accepted we’ll begin work, and typically within only 7 days your site will go live!.</p>
                  </div>
                </div>
            </div>
            <div class="my-container my-right">
              <div class="my-content">
                <p>You’ll go over it with us, and make any necessary edits to get everything as polished as possible before handing it off!</p>
              </div>
            </div>
            <div class="my-container my-left">
              <div class="my-content">
                <p>We’ll shake hands, and thank you for letting us serve you! You will then send us a check in the mail to the amount of the agreed upon price.</p>
              </div>
            </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form>
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input class="input is-medium" type="email" placeholder="Enter your email address">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" placeholder="Write someting..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>