{{- $sections := .Site.GetPage "/sections" }}
{{- $section3 := $sections.Params.section3 }}
{{- $title      := index $section3 "title" }}
{{- $subtitle   := index $section3 "subtitle" }}
{{- $image      := index $section3 "image" }}
{{- $buttonText := index $section3 "buttontext" }}
{{- $buttonLink := index $section3 "buttonlink" }}
<section class="section section-feature-grey is-medium" id="section3">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="pushed-image" src="img/web-dev-bg.jpg">
        </div>
      </div>
    </div>

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    </div>
    <div class="column is-8 is-offset-2 mt-60">
      <p>We are a small, highly engaged web development team using the industry’s latest and most effective practices. All of our websites are built with care, and attention to detail. 
          Our web templates look amazing on desktop computers, tablets, and phones, so your clients can easily navigate any page of our sites from any device without needing to zoom in or out. Because we leverage existing frameworks available, we are able to offer 100% free web hosting. 
          </p>
    </div>

    <p class="has-text-centered mt-20">
      <a class="button cta is-large rounded secondary-btn raised" href="{{ $buttonLink }}">
        {{ $buttonText }}
      </a>
    </p>
  </div>
</section>